In [2]:
#main data file and import script for project 3
# Aaliyah, Cameron, Lewis, and Seth
# 7.20.23
# data source mpls open data https://opendata.minneapolismn.gov/datasets (Confirmed Fires 2012-2015 files)
# CSV option under Crime Data Header
# import data csv files and save in your repository 
import pandas as pd
import csv

file2012 = "Resources/Fires_Confirmed_2012.csv"
file2013 = "Resources/Fires_Confirmed_2013.csv"
file2014 = "Resources/Fires_Confirmed_2014.csv"
file2015 = "Resources/Fires_Confirmed_2015.csv"
fileweather = "Resources/minneapolis_st_paul_weather_data.csv"

In [3]:
#reads the csv file 
fire_2012 = pd.read_csv(file2012)
fire_2013 = pd.read_csv(file2013)
fire_2014 = pd.read_csv(file2014)
fire_2015 = pd.read_csv(file2015)
weather_data = pd.read_csv(fileweather)

In [4]:
#find column names for each dataset to compare
fire_2012.columns

Index(['X', 'Y', 'ESRI_OID', 'inci_no', 'descript', 'alm_date', 'alm_time',
       'station', 'number', 'street', 'st_type', 'st_suffix', 'addr_2',
       'apt_room', 'xst_prefix', 'xstreet', 'xst_type', 'xst_suffix',
       'latitude', 'longitude', 'inci_type', 'clr_date', 'clr_time', 'alarms',
       'complete', 'LastUpdateDate'],
      dtype='object')

In [5]:
fire_2013.columns

Index(['X', 'Y', 'OBJECTID', 'inci_no', 'descript', 'alm_date', 'alm_time',
       'station', 'number_', 'street', 'st_type', 'st_suffix', 'addr_2',
       'apt_room', 'xst_prefix', 'xstreet', 'xst_type', 'xst_suffix',
       'latitude', 'longitude', 'inci_type', 'clr_date', 'clr_time', 'alarms',
       'complete', 'LastUpdateDate', 'StartDate', 'EndDate'],
      dtype='object')

In [6]:
#had to rename 'ESRI_OID' in 2013; had diff name compared to other dfs
fire_2013.rename(columns={'OBJECTID': 'ESRI_OID'}, inplace=True)

In [7]:
fire_2014.columns

Index(['X', 'Y', 'ESRI_OID', 'inci_no', 'descript', 'alm_date', 'alm_time',
       'station', 'number', 'street', 'st_type', 'st_suffix', 'addr_2',
       'apt_room', 'xst_prefix', 'xstreet', 'xst_type', 'xst_suffix',
       'latitude', 'longitude', 'inci_type', 'clr_date', 'clr_time', 'alarms',
       'complete', 'LastUpdateDate', 'StartDate', 'EndDate'],
      dtype='object')

In [8]:
fire_2015.columns

Index(['X', 'Y', 'ESRI_OID', 'inci_no', 'descript', 'alm_date', 'alm_time',
       'station', 'number', 'street', 'st_type', 'st_suffix', 'addr_2',
       'apt_room', 'xst_prefix', 'xstreet', 'xst_type', 'xst_suffix',
       'latitude', 'longitude', 'inci_type', 'clr_date', 'clr_time', 'alarms',
       'complete', 'LastUpdateDate', 'StartDate', 'EndDate'],
      dtype='object')

In [9]:
fire_2015.dtypes

X                 float64
Y                 float64
ESRI_OID            int64
inci_no            object
descript           object
alm_date           object
alm_time           object
station            object
number             object
street             object
st_type            object
st_suffix          object
addr_2             object
apt_room           object
xst_prefix         object
xstreet            object
xst_type           object
xst_suffix         object
latitude          float64
longitude         float64
inci_type           int64
clr_date           object
clr_time           object
alarms              int64
complete            int64
LastUpdateDate     object
StartDate          object
EndDate            object
dtype: object

In [10]:
weather_data.columns

Index(['Date', 'Maximum Temperature degrees (F)',
       'Minimum Temperature degrees (F)', 'Precipitation (inches)',
       'Snow (inches)', 'Snow Depth (inches)'],
      dtype='object')

In [11]:
#check weather data types for later
weather_data.dtypes

Date                               object
Maximum Temperature degrees (F)    object
Minimum Temperature degrees (F)    object
Precipitation (inches)             object
Snow (inches)                      object
Snow Depth (inches)                object
dtype: object

In [4]:
#make the csv file into json for each year
fire2012_shrunk = fire_2012[['X', 'Y', 'descript', 'alm_date', 'station']]
fire2012_df = fire2012_shrunk.rename(columns={"X":"Longitude",
                                              "Y":"Latitude" ,
                                              "descript":"Description",
                                              "alm_date":"Date",
                                              "station":"Station"})
output_json1 = 'Fires_2012.json'
fire2012_df.to_json(output_json1, orient='records')

In [5]:
fire2013_shrunk = fire_2013[['X', 'Y', 'descript', 'alm_date', 'station']]
fire2013_df = fire2013_shrunk.rename(columns={"X":"Longitude",
                                              "Y":"Latitude" ,
                                              "descript":"Description",
                                              "alm_date":"Date",
                                              "station":"Station"})
output_json2 = 'Fires_2013.json'
fire2013_df.to_json(output_json2, orient='records')

In [6]:
fire2014_shrunk = fire_2014[['X', 'Y', 'descript', 'alm_date', 'station']]
fire2014_df = fire2014_shrunk.rename(columns={"X":"Longitude",
                                              "Y":"Latitude" ,
                                              "descript":"Description",
                                              "alm_date":"Date",
                                              "station":"Station"})
output_json3 = 'Fires_2014.json'
fire2014_df.to_json(output_json3, orient='records')

In [7]:
fire2015_shrunk = fire_2015[['X', 'Y', 'descript', 'alm_date', 'station']]
fire2015_df = fire2015_shrunk.rename(columns={"X":"Longitude",
                                              "Y":"Latitude" ,
                                              "descript":"Description",
                                              "alm_date":"Date",
                                              "station":"Station"})
output_json4 = 'Fires_2015.json'
fire2015_df.to_json(output_json4, orient='records')

In [8]:
output_json5 = 'weather.json'
weather_data.to_json(output_json5, orient='records')

In [13]:
u =fire2012_df.groupby(["Longitude", "Latitude"])
u.count()

                      Description  Date  Station
Longitude  Latitude
-93.366422 44.915423            1     1        1
-93.336682 44.931884            1     1        1
-93.333632 44.868376            1     1        1
-93.329104 44.919714            1     1        1
-93.329101 44.921005            4     4        4
...                           ...   ...      ...
-93.199342 44.905391            3     3        3
-93.199167 44.885278            1     1        1
-93.198584 44.905384            1     1        1
-93.186944 44.987500            1     1        1
-93.186013 44.977864            1     1        1

[14770 rows x 3 columns]

In [14]:
fire2012_df.count()

Longitude      36987
Latitude       36987
Description    36987
Date           36987
Station        36987
dtype: int64

In [12]:
#Merge all fire data and display
merged_df = pd.concat([fire_2012, fire_2013, fire_2014, fire_2015], ignore_index=True)
merged_df.head(5)

,X,Y,ESRI_OID,inci_no,descript,alm_date,alm_time,station,number,street,...,longitude,inci_type,clr_date,clr_time,alarms,complete,LastUpdateDate,number_,StartDate,EndDate
0,-93.286230,45.027240,1,12-0000000,HazMat release investigation w/no HazMat ...,2012/02/21 00:00:00+00,14:45:03,20,4800,- 4801 Interstate 94 Eb,...,-93.286230,671,2012/02/21 00:00:00+00,14:58:30,1,1,2015/03/11 11:13:29+00,NaN,NaN,NaN
1,-93.298301,44.997412,2,12-0000001,EMS-Asst medics-did NOT provide any BLS Treatm...,2012/01/01 00:00:00+00,00:02:51,04,1401,18,...,-93.298301,300B,2012/01/01 00:00:00+00,00:17:20,1,1,2015/03/11 11:13:29+00,NaN,NaN,NaN
2,-93.298333,44.948333,3,12-0000003,"EMS call, excluding vehicle accident with inju...",2012/01/01 00:00:00+00,00:05:09,22,3001,Hennepin,...,-93.298333,321,2012/01/01 00:00:00+00,00:30:53,1,1,2015/03/11 11:13:29+00,NaN,NaN,NaN
3,-93.247266,44.963666,4,12-0000004,"Medical assist, assist EMS crew ...",2012/01/01 00:00:00+00,00:05:58,07,917,Cedar,...,-93.247266,311,2012/01/01 00:00:00+00,00:15:37,1,1,2015/03/11 11:13:29+00,NaN,NaN,NaN
4,-93.311575,45.006027,5,12-0000006,Dispatched & cancelled en route ...,2012/01/01 00:00:00+00,00:10:53,14,,26,...,-93.311575,611,2012/01/01 00:00:00+00,00:14:57,1,1,2015/03/11 11:13:29+00,NaN,NaN,NaN

In [13]:
#Limit to select columns
merged_df_shrunk = merged_df[['X', 'Y', 'descript', 'alm_date', 'station']]
merged_df_shrunk.head(10)

,X,Y,descript,alm_date,station
0,-93.286230,45.027240,HazMat release investigation w/no HazMat ...,2012/02/21 00:00:00+00,20
1,-93.298301,44.997412,EMS-Asst medics-did NOT provide any BLS Treatm...,2012/01/01 00:00:00+00,04
2,-93.298333,44.948333,"EMS call, excluding vehicle accident with inju...",2012/01/01 00:00:00+00,22
3,-93.247266,44.963666,"Medical assist, assist EMS crew ...",2012/01/01 00:00:00+00,07
4,-93.311575,45.006027,Dispatched & cancelled en route ...,2012/01/01 00:00:00+00,14
5,-93.231284,44.983857,EMS-Asst medics-did NOT provide any BLS Treatm...,2012/01/01 00:00:00+00,19
6,-93.237995,44.986543,"Local alarm system, malicious false alarm ...",2012/01/01 00:00:00+00,19
7,-93.271944,44.975278,EMS-Arrive & Cancelled before PT Contact or No...,2012/01/01 00:00:00+00,06
8,-93.222883,44.970191,EMS-Asst medics-did NOT provide any BLS Treatm...,2012/01/01 00:00:00+00,19
9,-93.235556,44.980556,"EMS call, excluding vehicle accident with inju...",2012/01/01 00:00:00+00,19

In [14]:
#get count of one column to prep for null value check 
merged_df_shrunk["X"].count()

40747

In [15]:
# Remove rows containing all null values- cleaning data set
clean_fire_df = merged_df_shrunk.dropna(how='any')
clean_fire_df["X"].count()

40747

In [16]:
#check data types
clean_fire_df.dtypes

X           float64
Y           float64
descript     object
alm_date     object
station      object
dtype: object

In [17]:
#change date to date type from object
clean_fire_df['alm_date'] = pd.to_datetime(clean_fire_df['alm_date'])

In [18]:
#rename columns for clarity
final_fire_df = clean_fire_df.rename(columns={"X":"Longitude",
                                              "Y":"Latitude" ,
                                              "descript":"Description",
                                              "alm_date":"Date",
                                              "station":"Station"})
final_fire_df.head(10)

,Longitude,Latitude,Description,Date,Station
0,-93.286230,45.027240,HazMat release investigation w/no HazMat ...,2012-02-21 00:00:00+00:00,20
1,-93.298301,44.997412,EMS-Asst medics-did NOT provide any BLS Treatm...,2012-01-01 00:00:00+00:00,04
2,-93.298333,44.948333,"EMS call, excluding vehicle accident with inju...",2012-01-01 00:00:00+00:00,22
3,-93.247266,44.963666,"Medical assist, assist EMS crew ...",2012-01-01 00:00:00+00:00,07
4,-93.311575,45.006027,Dispatched & cancelled en route ...,2012-01-01 00:00:00+00:00,14
5,-93.231284,44.983857,EMS-Asst medics-did NOT provide any BLS Treatm...,2012-01-01 00:00:00+00:00,19
6,-93.237995,44.986543,"Local alarm system, malicious false alarm ...",2012-01-01 00:00:00+00:00,19
7,-93.271944,44.975278,EMS-Arrive & Cancelled before PT Contact or No...,2012-01-01 00:00:00+00:00,06
8,-93.222883,44.970191,EMS-Asst medics-did NOT provide any BLS Treatm...,2012-01-01 00:00:00+00:00,19
9,-93.235556,44.980556,"EMS call, excluding vehicle accident with inju...",2012-01-01 00:00:00+00:00,19

In [20]:
#save final product as a JSON
output_json = 'Resources/Fires_complete.json'
final_fire_df.to_json(output_json, orient='records')